/* MODAL */

.modal-gallery {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: var(--transition);
}

.gallery-is-hidden {
  opacity: 0;
  visibility: hidden;
}

.frame {
  flex-direction: column;
  display: flex;
  position: relative;
  background: #fff;
  width: 806px;
  height: 558px;
  margin: 0 auto;
}

.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
  padding-top: 40px;
  padding-top: 40px;
  padding-left: 12px;
  padding-right: 12px;
}
.gallery-buttons-content {
  position: absolute;
  gap: 8px;
  bottom: 40px;
  right: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gallery__modal__img {
  border-radius: 5px;
}
.modal-movie-poster {
  height: 478px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.gallery__modal__details {
  width: 391px;
}
.modal-movie-title {
  color: #000;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.modal-movie-vote {
  display: flex;
  gap: 50px;

  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.modal-movie-popularity {
  display: flex;
  gap: 50px;
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.modal-movie-original-title {
  display: flex;
  gap: 50px;
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}
.modal-movie-genre {
  display: flex;
  gap: 50px;
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}
.modal-movie-overview {
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.modal-movie-category {
  width: 80px;
  color: #8c8c8c;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.modal-movie-category-detail {
  display: inline-block;
  text-align: center;
  color: white;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background: #b92f2c;
}
.modal-movie-overview-category {
  margin-bottom: 8px;
  display: block;
  color: #000;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  text-transform: uppercase;
}
